@import "../../assets/styles/modules/variables";
@import "../../assets/styles/modules/elements";

.search-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding: 100px 15px 0;

    &__form {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        .btn {
            @media (max-width: 767px) {
                margin-top: 25px;
            }
        }
    }
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 100px -15px 0; 

    &__info-message {
        text-align: center;
        font-size: 18px;
        margin: 0 0 40px 0;
        font-size: 28px;
    }

    .single-movie {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 0 0 15%;
        max-width: 15%;
        margin-bottom: 50px;
        position: relative;
        padding: 0 15px;

        @media (max-width: 1199px) {
            flex: 0 0 20%;
            max-width: 20%;
        }

        @media (max-width: 991px) {
            flex: 0 0 25%;
            max-width: 25%;
        }

        @media (max-width: 767px) {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }

        @media (max-width: 575px) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &:hover {
            .single-movie {

                &__poster {
                    opacity: 0.5;
                }

                &__button {
                    opacity: 1;
                }
            }
        }

        &__poster-wrapper {
            position: relative;
            width: 100%;
            margin: 0 auto;
        }

        &__poster {
            max-width: 100%;
            height: auto;
            max-height: 300px;
            opacity: 1;
            transition: opacity .25s;
            display: block;
            margin: 0 auto;

            @media (max-width: 1440px) {
                max-height: 200px;
            }

            @media (max-width: 375px) {
                max-height: 150px;
            }
        }

        &__title {
            margin: 20px 0 5px;
            text-align: center;
            font-size: 24px;

            @media (max-width: 1199px) {
                font-size: 20px;
                margin: 10px 0 5px;
            }

            @media (max-width: 575px) {
                font-size: 18px;
            }
        }

        &__date {
            opacity: 0.3;
        }

        &__button {
            opacity: 0;
            transition: all .25s;
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}